<h1>Add a new book</h1>

<form asp-action="Create" method="POST">
    Titel: <input type="text" name="Title" /><br />
    Author: <input type="text" name="Author" /><br />
    ISBN: <input type="text" name="ISBN" /><br />
    Quantity: <input type="text" name="Quantity"/><br />

    <input type="submit" value="Add to list" />
</form>